.Home-page {
  height: -webkit-fill-available;
  text-align: center;
}

.Header {
  background-color: #44000d;
  height: 5rem;
  color: #f9f5ad;
  text-align: center;

  p {
    text-align: center;
    line-height: 4rem;
    margin: 0;
    font-size: 3rem;
  }
}

.Filter {
  display: block;
  margin: 2% 20% 2% 20%;
  align-items: flex-start;
  height: 3rem;
  border-radius: 20px;
}

.FilterBar {
  display: inline-block;
  width: 30%;
  float: left;
}

.Search {
  display: inline-block;
  width: 70%;
}

.Search-input {
  display: inline-block;
  width: 80%;
}

.Search-button {
  display: inline-block;
  width: 20%;
  float: right;
}

.f-item {
  padding: 0;
  width: 100%;
  height: 45px;
  border: 0 solid gray;
  box-shadow: inset 0 0 0 1px gray;
}


.Movie-list-container {
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .Movie-list-container {
  }
}

.Movie-box {
  position: relative;
  border: 1px solid red;
  margin: 5px;
  padding: 2px;
  text-align: center;
  display: inline-block;
  width: 30%;
  max-width: 600px;
  min-width: 245px;
  height: 20rem;
  background-color: #83142c;

  .m-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: #f9f5ad;
  }
}

@media only screen and (max-width: 768px) {
  .Movie-box {
  }
}


.Movie-detail-page {
  border: 1px solid red;
  height: -webkit-fill-available;
  text-align: center;

  .Movie-poster {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid blue;
    display: block;

    .m-img {
      position: relative;
      margin: 0 25% 0 25%;
      border: 1px #44000d dashed;
      width: 50%;
      min-width: 400px;
      height: 400px;

    }
    .m-title {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: xx-large;
    }
  }

  .Movie-description {
    margin: 5% 25% 0 25%;

  }
}


img {
  width: 2rem;
}